html{
  /* background-image: repeating-radial-gradient(#c598ae, #f708561c 449px); */
  background: url("backgroundPicture.jpg");
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: white;
}
header{
  text-align: center;
  font-size: 65px;
}
p{
  font-size: 30px;
  text-align: center;
}
h1{
  font-size: 35px;
}
#caixasDeExplicação{
  display: inline-block;
}
#introductionCifra, #conceitoCifra{
  display: block;
  background: #00000030;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  border: 5px;
  border-style: inset;
  border-color: deeppink;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 90px;
  border-width: 3px;
}
#encodeTitle, #decodeTitle{
  text-align: center;
  margin-right: 10px;
}
#caixas{
  display: block;
}
#mensagemToEncode, #mensagemEncoded{
  width: 700px;
  height: 150px;
  margin-right: 10px;
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  border-radius: 10px;
  border-width: 2px;
  border-color: deeppink;
  background: #00000030;
}
.digite1, .digite2{
  text-align: center;
  font-size: 30px;
}
#buttons{
  display: flex;
  margin-left: 575px;
  margin-right: 450px;
}
#encodeButton, #decodeButton, #resetButton, #offset2{
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  border-width: 2px;
  border-color: deeppink;
  background: #00000030;
}
#offset{
  font-size: 25px;
  text-align: center;
}
#offset2{
  background: #00000030;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 20px;
}
