html{
  background: url("diario2.jpg");
  background-repeat: inherit;
  background-size: 100%;
  font-family: 'Caveat', cursive;
}
header{
  text-align: left;
  font-size: 65px;
  color: black;
  text-shadow: deeppink 2px 3px 2px;
}
p{
  font-size: 40px;
  text-align: center;
  color: deeppink;
  text-shadow: black 3px 3px 0px;
}
h1{
  font-size: 45px;
  color: deeppink;
  text-shadow: black 3px 3px 0px;
}
.bagaça{
  display: flex;
}
.caixa-de-instrucao{
  margin-left: 173px;
  width: 521px;
  height: 675px;
  text-align: center;
  border: 5px;
  border-style: inset;
  border-color: deeppink;
  border-radius: 50px;
  border-width: 3px;
  background: #00000030;
  color: deeppink;
  text-shadow: black 3px 3px 0px;
}
.instructions-list{
  text-align: left;
  font-size: 30px;
}
li{
  margin-left: 10px;
  font-size: 40px;
}
.encode-title, .decode-title{
  font-size: 40px;
  text-align: center;
  margin-left: 168px;
}
.caixas{
margin-left: -56px;
}
#mensagem-to-encode, #mensagem-encoded{
  width: 400px;
  height: 220px;
  margin-left: 173px;
  text-align: center;
  font-family: 'Paprika', cursive;
  font-size: 30px;
  font-family: 'Caveat', cursive;
  background: #fff0f000;
  color: black;
}
.digite-mensagem, .digite-resultado{
  text-align: center;
  font-size: 30px;
  margin-block-start: auto;
  color: black;
}
#buttons{
  display: flex;
  margin-left: 310px;
}
#encode-button-click, #decode-button-click, #offset-number{
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-family: 'Paprika', cursive;
  color: black;
  border-radius: 3px;
  border-width: 2px;
  border-color: deeppink;
  background: #fff0f000;
}
#offset{
  font-size: 25px;
  text-align: center;
  margin-left: 200px;
  color: black;
}
#offset-number{
  background: #fff0f000;
  width: 300px;
  font-family: 'Paprika', cursive;
  font-size: 15px;
}
#introduction{
  background: #00000030;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  border: 5px;
  border-style: inset;
  border-color: deeppink;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 90px;
  border-width: 3px;
  color: black;
  text-shadow: deeppink 2px 3px 2px;
}
